.home-container {
  display: flex;
  justify-content: space-evenly;
  color: black;
  margin-top: 2em;
}

.section-container {
  display: flex;
  flex-direction: column;
  width: 30%;
  color: black;
  background-color: rgb(247, 243, 236);
  padding: 1em;
}

h1 {
  font-size: 20px;
  font-weight: bolder;
  margin: 1em 0;
}

.list-container {
  display: flex;
  flex-direction: column;
  margin-left: 2em
}

.single-beer-container {
  display: flex;
  border: 1px solid rgb(226, 225, 225);
  width: fit-content;
  width: 25vw;
}

.single-beer-content {
  display: flex;
  flex-direction: column;
}

.single-beer-container > img {
  max-height: 150px;
  margin: 0.5em 2em;
  width: 11%;
}